@import "../../../config/Common.scss";
.LoginFormInputPasswordComponent{
    height:50px;
    width:80%;
    background:#eee;
    border-radius: 6px;
    margin-left: 10%;
    .content{
        height:50px;
        .content_row_one{
            height:50px;
            .content_row_one_textarea{
                width:94%;
                @include centerDiv;
            }

            .prefIcon{

            }
        }
    }
}