$bgDir : "/static/Background";
$bgIcon : "#{$bgDir}/bg.jpg";


$logoDir : "/static/Logo";
$logoSvg : "#{$logoDir}/logo.svg";  //logo

$headerDir : "/static/Header";
$headerIcon : "#{$headerDir}/header.png";