@import "./static/index";

.AppPage{
    width:200px;
    height:200px;
    img{
        width:100%;
        height:100%;
        animation: move 3s linear infinite;
        -webkit-animation: move 3s linear infinite; /* Safari 与 Chrome */
    }

    /* Safari 与 Chrome */
    @-webkit-keyframes move{
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes move{
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}